{
	"map":
		{
			"x_max_px":2736,
			"y_max_px":2128,
			"m_to_px": 0.02632
		},
	"beacon1":
		{
			"mac": "94e36d6215f0",
			"relative_x_m": 0,
			"relative_y_m": 0,
			"x_px": 2128,
			"y_px": 755
		},
	"beacon2":
		{
			"mac": "3ca308ac7f69",
			"relative_x_m": 1.06,
			"relative_y_m":16.03,
			"x_px": 2162.2,
			"y_px": 1268
		},
	"beacon3":
		{
			"mac": "3ca308ac9f0f",
			"relative_x_m": 8.02,
			"relative_y_m": 34.2,
			"x_px":2384.5,
			"y_px":1849.4
		}
}