{
	"map":
		{
			"x_max_px":321,
			"y_max_px":606,
			"m_to_px":0.020679
		},
	"beacon1":
		{
			"mac": "3ca308ac7f69",
			"relative_x_m": 0,
			"relative_y_m": 0,
			"x_px": 300,
			"y_px": 23.5
		},
	"beacon2":
		{
			"mac": "94e36d6215f0",
			"relative_x_m": -5.82,
			"relative_y_m": 4.44,
			"x_px": 21,
			"y_px": 236
		},
	"beacon3":
		{
			"mac": "3ca308ac9f0f",
			"relative_x_m": -2.317,
			"relative_y_m": 7.31,
			"x_px":189,
			"y_px":373.8
		},
	"beacon4":
		{
			"mac": "3ca308adecb3",
			"relative_x_m": -5.55,
			"relative_y_m": 0.55,
			"x_px":34,
			"y_px":50
		},
	"beacon5":
		{
			"mac": "3ca308ac9b69",
			"relative_x_m": -5.61,
			"relative_y_m": 8.69,
			"x_px":31,
			"y_px":440
		}
}


