{
	"map":
		{
			"x_max_px":454,
			"y_max_px":728,
			"m_to_px":0.014758
		},
	"beacon1":
		{
			"mac": "3C:A3:08:AC:7F:2E",
			"relative_x_m": 0,
			"relative_y_m": 0,
			"x_px": 272,
			"y_px": 710
		},
	"beacon2":
		{
			"mac": "3C:A3:08:AC:9B:69",
			"relative_x_m": -3.72,
			"relative_y_m": 0,
			"x_px": 20,
			"y_px": 710
		},
	"beacon3":
		{
			"mac": "3C:A3:08:AD:EC:B3",
			"relative_x_m": -2.37,
			"relative_y_m": -3.873,
			"x_px":522.7,
			"y_px":111.4
		},
	"beacon4":
		{
			"mac": "3C:A3:08:AC:9F:0F",
			"relative_x_m": -0.635,
			"relative_y_m": -2.937,
			"x_px":522.7,
			"y_px":111.4
		}
}
